/* game.css */

@font-face {
  font-family: Nostromo;
  src: url('../fonts/NostromoRough-Black.woff') format('woff');
}

body {
  background-color: #000;
  color: #0cdcca;
  font-family: 'Nostromo', 'Courier New', monospace;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin: 20px 0;
  text-transform: uppercase;
}

h2 {
  font-size: 35px;
  margin: 20px 0;
}

#button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  text-align: center;
}

#score {
  font-size: 30px;
  color: #ff00ff;
}

input[type='submit'] {
  font-family: Nostromo;
  font-size: 2.5vw;
  border: 0.14vw solid #3e424f;
  border-radius: 0.6vw;
  color: #0cdcca;
  background-color: #252732;
  margin-right: 10px;
  height: 50px;
  cursor: pointer;
  /* background-color: #ff00ff; */
}

input[type='submit']:hover {
  background-color: #00ff00;
}

#game-canvas {
  border: white solid;
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-over-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#game-over {
  text-align: center;
}

button {
  font-family: Nostromo;
  font-size: 2.5vw;
  border: 0.14vw solid #3e424f;
  border-radius: 0.6vw;
  color: #0cdcca;
  background-color: #252732;
  margin-right: 10px;
  height: 50px;
  cursor: pointer;
}

button:hover {
  border: 0.14vw solid #0cdcca;
  box-shadow: 0 0 1.8vw #0cdcca;
}
#score-present {
  font-size: 30px;
}
