/* game.css */

body {
  background-color: #000;
  color: #fff;
  font-family: 'Courier New', monospace;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin: 20px 0;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  margin: 20px 0;
}

#button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  text-align: center;
}

#score {
  font-size: 24px;
  color: #00ff00;
}

input[type='submit'] {
  height: 50px;
  width: 120px;
  font-size: 18px;
  background-color: #ff00ff;
  color: #000;
  border: none;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #00ff00;
}

#restart-button {
  margin-right: 10px;
  height: 50px;
  width: 80px;
  font-size: 18px;
  background-color: #ff00ff;
  color: #000;
  border: none;
  cursor: pointer;
}

#restart-button:hover {
  background-color: #00ff00;
}

#game-canvas {
  border: white solid;
}
