<!DOCTYPE html>
<html>
  <head>
    <title>{{ game }} - Arcade</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/game.css') }}"
    />
  </head>
  <body>
    <h1>{{ game }}</h1>
    <div id="game-container">
      <canvas
        id="game-canvas"
        width="{% if game == 'snake' %}500{% else %}800{% endif %}"
        height="{% if game == 'snake' %}500{% else %}600{% endif %}"
      ></canvas>
    </div>
    <div id="game-over-content">
      <div id="game-over" style="display: none">
        <h2>Game Over</h2>
        <p id="score-present">Your score: <span id="score"></span></p>
        <div id="button-container">
          <button id="restart-button" onclick="restartGame()">Restart</button>
          <button id="main-menu-button" onclick="goToMainMenu()">
            Main Menu
          </button>
          <form
            id="score-form"
            action="{{ url_for('gameover', game_name=game) }}"
            method="post"
          >
            <input type="hidden" id="score-input" name="score" value="" />
            <input type="submit" value="Submit Score" />
          </form>
        </div>
      </div>
      <div id="game-info" style="display: none">
        <p>Score: <span id="score-display"></span></p>
        <p>Lives: <span id="lives-display"></span></p>
      </div>
    </div>

    <script>
      const gameName = '{{ game }}'; // Get the game name from the template
    </script>
    <script src="{{ url_for('static', filename='js/' ~ game ~ '.js') }}"></script>
    <script src="{{ url_for('static', filename='js/arcade.js')}}"></script>
  </body>
</html>
