<!DOCTYPE html>
<html>
  <head>
    <title>{{ game }} - High Scores</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='css/arcade.css') }}"
    />
  </head>
  <body>
    <h1>{{ game }} High Scores</h1>
    <ul>
      {% for score in scores %}
      <li>{{ score.score }}</li>
      {% endfor %}
    </ul>
    <div id="button-container">
      <button id="game-button" onclick="goToGame(game)">To Game</button>
      <button id="main-menu-button" onclick="goToMainMenu()">Main Menu</button>
    </div>
    <script>
      const game = '{{ game }}'; // Get the game name from the template
    </script>
    <script src="{{ url_for('static', filename='js/arcade.js')}}"></script>
  </body>
</html>
